
{% extends "base.html" %}
{% block content %}

<form action="/producers/{{ producer.id }}" method="post">
    <div>
        <label for="producer-name"><strong>PRODUCER NAME</strong></label>
        <input type="text" id="producer-name" name="producer-name" placeholder="PRODUCER NAME.." required autofocus>
    </div>
    <div>
        <label for="country"><strong>COUNTRY</strong></label>
        <input type="text" id="country" name="country" placeholder="COUNTRY..">
    </div>
    <div>
        <label for="region"><strong>REGION</strong></label>
        <input type="text" id="region" name="region" placeholder="REGION..">
    </div>
    <div>
        <label for="producer-description"><strong>DESCRIPTION</strong></label>
        <input type="text" id="producer-description" name="producer-description" placeholder="PRODUCER DESCRIPTION..">
    </div>
        <p><strong>UPDATE</strong></p>
        <button class="image-button" type="submit"><i class="fas fa-edit fa-3x" style="color:black" aria-hidden="true"></i></button>
    </div>
</form>
{% endblock %}