
{% extends "base.html" %}
{% block content %}

{% for producer in all_producers %}
  <div class="grid-container">
    <div class="grid-item">
      <div class="content">
        <p>PRODUCER NAME</p>
        <div class="link-name">
          <p><a href="/producers/{{ producer.id }}">{{ producer.producer_name }}</a> [ <i id="icon" class="fa fa-solid fa-hand-pointer" aria-hidden="true"></i> ] </p>
        </div>
            <hr>
            <p>COUNTRY</p>
            <p>{{ producer.country }}</p>
            <hr>
            <p>REGION</p>
            <p>{{ producer.region }}</p>
            <hr>
            <p>WINEMAKER</p>
            <p>{{ producer.winemaker }}</p>
            <hr>
            <p>ACTIVE</p>
            <p>{{ producer.active }}</p>
            <hr>
            <p><strong>DELETE ENTRY</strong></p>
          <div class="buttons">
            <form class="delete-form" action="/producers/{{producer.id}}/delete" method="POST">
              <button class="image-button"><i class="fa fa-trash-o fa-3x"  aria-hidden="true"></i></button>
            </form>
          </div>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}

