
{% extends "base.html" %}
{% block content %}

{% for producer in all_producers %}
  <div class="grid-container">
    <div class="grid-item">
      <div class="grid-content">
        <p>PRODUCER NAME</p>
        <div class="link-name">
          <a href="/producers/{{ producer.id }}">{{ producer.producer_name }}</a>
        </div>
            <hr>
            <p>COUNTRY</p>
            <p>{{ producer.country }}</p>
            <hr>
            <p>REGION</p>
            <p>{{ producer.region }}</p>
            <hr>
            <p>DESCRIPTION</p>
            <p>{{ producer.producer_description }}</p>
            <hr>
            <p><strong>DELETE ENTRY</strong></p>
          <div class="buttons">
            <form class="delete-form" action="/producers/{{producer.id}}/delete" method="POST">
              <button class="image-button"><i class="fa fa-trash-o fa-3x" style="color:black" aria-hidden="true"></i></button>
            </form>
          </div>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}

