
{% extends "base.html" %}
{% block content %}

{% for producer in all_producers %}
  <div class="grid-container">
    <div class="grid-item">
      <div class="grid-content">
        {{ wine.producer.country }}
        <div class="wine-name">
          <a href="/producers/{{ producer.id }}">{{ producer.producer_name }}</a>
        </div>
          <div class="buttons">
            <form class="delete-form" action="/wines/{{wine.id}}/delete" method="POST">
              <button class="image-button"><i class="fa fa-trash-o fa-3x" style="color:black" aria-hidden="true"></i></button>
            </form>
          </div>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}

