
/* Main body.. */

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #282828;
    color: #DEDEDE; 
    align-content: center;
  }
  
  
  /* Home page, containers, styling, and icons.. */

  #home-container {
    padding: 0.28vw;
    min-height: 48.8vw;
    width: 80vw;
    border: 0.1vw solid #B2B2B2;
    background: url('/static/images/unsplash_background_wine_medium.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
  }


  #home-title {
    color: whitesmoke;
    font-size: 14.0vw;
    font-weight: bold;
    padding: 1.0vw;
  }


  #home-icon{
    font-size: 10.5vw;
    color: whitesmoke;
    padding-left: 35vw;
  }


  #copyright-icon{
    font-size: 1.0vw;
    color: whitesmoke;
    padding-left: 40vw;
  }


  /* Links within the body.. */

  a {
    text-decoration: none;
    color: ghostwhite;
    cursor: pointer;
  }

  a:link { 
    text-decoration: none; 
  }


  a:visited { 
    text-decoration: none; 
  }


  a:hover { 
    text-decoration: none; 
  }


  a:active { 
    text-decoration: none; 
  }

  
  /* Main base container.. */

  .base-container {
    margin-left: 9.0vw;
    margin-right: 9.7vw;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
  }

  /* Grid layout for index, and filter pages, instances, and contents.. */

  .grid-container {
    background-color: #1E1E1E; 
    display: flex;
    flex-wrap: wrap;
    padding: 0.28vw;
    min-height: 48.8vw;
    min-width: 50vww;
    border: 0.1vw solid #B2B2B2;
  }


  .grid-item {
    border: 0.125vw solid whitesmoke;
    width: 24.30vw;
    min-height: 48.8vw;
    padding: 0.7vw;
    line-height: 1.2vw;
  }

 /* Styling for all content, and tex on all pages, forms, etc, etc.. */

  .content {
    font-size: 0.8vw;
    font-weight: bold;
    margin-left: 1.0vw;
    margin-top: 1.0vw;
    margin-bottom: 1.0vw;
    margin-right: 1.0vw;
  }


  /* Links, buttons, inputs etc, etc, within content.. */

  .link-name {
    font-weight: bold;
    font-size: 0.8vw;
    color: white;
  }
  
  
  .buttons {
    margin-top: 1.0vw;
    padding: 0.25vw;
    font-size: 1.0vw;
    color: white
  }
  

  input, select {
    font-size: 0.8vw;
    width : 20.0vw;
    padding: 0.8vw;
    margin: 1.0vw;
    box-sizing: border-box;
    color: #262625;
    border: none;
    outline: none;
    box-shadow: 0vw 0.8vw 1vw 0vw #282828;
  }

  input:focus{
    outline: none;     
    box-shadow: 0vw 0.8vw 1vw 0vw #0E0E0E;
  }

 /* Icons, and buttons with images.. */

  .image-button {
    display: contents;
    cursor: pointer;
    font-size: 0.8vw;
    color: whitesmoke;
  }


  .float-button {
    display: contents;
    cursor: pointer;
    font-size: 0.8vw;
  }


  #icon {
    font-size: 0.8vw;
    color: whitesmoke;
  }
  

  #top-icon{
    font-size: 1.0vw;
    color: whitesmoke;
    padding-bottom: 0.8vw;
    margin-left: 10.5vw;
  }


  .delete-form {
    display: inline;
  }
  

/* Radio buttons for active, boolean input for forms.. */

  input[type="radio"] {
  visibility: hidden;
  }


.radio-button input[type="radio"]:after {
  width: 1vw;
  height: 1.0vw;
  border-radius: 1.0vw;
  top: -0.5vw;
  left: -0.5vw;
  position: relative;
  background-color: #1E1E1E;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 0.1vw solid white;
}

.radio-button input[type="radio"]:checked:after {
  width: 1.0vw;
  height: 1.0vw;
  border-radius: 1.0vw;
  top: -0.5vw;
  left: -0.5vw;
  position: relative;
  background-color: #B2B2B2;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 0.1vw solid white;
}


/* New menu bar, implements drop down menu for filter.. */

.menu {
  border: 0.1vw solid #060606;
  overflow: hidden;
  margin: 0vw;
  background-color: black;
  font-size: 1.4vw;
}

.menu a {
  float: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 14px;
  font-size: 1.4vw;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 0.9vw 1vw;
  text-decoration: none;
  cursor: pointer;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .drop-button {
  font-size: 1.4vw;  
  border: none;
  outline: none;
  color: whitesmoke;
  padding: 0.9vw 1vw;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}

.menu a:hover, .dropdown:hover .drop-button {
  background-color: #0E0E0E;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 1.5vw;
  box-shadow: 0vw 0.8vw 1vw 0vw rgba(0,0,0,0.2);
  z-index: 10;
  cursor: pointer;
}

.dropdown-content a {
  float: none;
  color: ghostwhite;
  padding: 0.65vw 0.85vw;
  display: block;
  text-align: left;
  font-size: 0.9vw;
}

.dropdown-content a:hover {
  background-color:black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

