
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 16px;
    color: hsla(0, 0%, 0%, 0.800);
  }
  
  
  a {
    text-decoration: none;
    color: hsla(0, 0%, 0%, 0.800);
  }

  a:link { 
    text-decoration: none; 
  }


  a:visited { 
    text-decoration: none; 
  }


  a:hover { 
    text-decoration: none; 
  }


  a:active { 
    text-decoration: none; 
  }


  .base-container {
    padding-top: 6em;
    margin-left: 8em;
    margin-right: 8em;
    display: flex;
    flex-wrap: wrap;
  }


  .grid-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0.25em;
  }


  .grid-item {
    border: 1.75px solid darkgrey;
    font-size: 12px;
    width: 350px;
    min-height: 68px;
    padding: 10px;
    line-height: 18px;
  }


  .content {
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.700);
    margin-left: 20px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
  }


  .item {
    border: 1.75px solid darkgrey;
    font-size: 12px;
    width: 300px;
    min-height: 68px;
    padding: 10px;
    line-height: 18px;
    margin-bottom: 10px;
  }


  .link-name {
    font-weight: bold;
    font-size: 12px;
  }
  
  
  .buttons {
    margin-top: 10px;
    margin-left: 5px;
    padding: 5px;
    font-size: 1.5em;
    color: lightgrey;
  }
  

  input, select {
    font-size: 60%;
    width : 100%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    color: hsla(0, 0%, 0%, 0.800);
  }
  

  .image-button {
    display: contents;
    cursor:pointer;
    font-size: 75%;
  }


  .float-button {
    display: contents;
    cursor:pointer;
    font-size: 75%;
  }


  #stock-icon {
    font-size: 75%;
  }
  

  .delete-form {
    display: inline;
  }
  

  .menu {
    margin: 0%;
    display: flex;
    position: fixed;
    overflow: hidden;
    width: 100%;
    padding: 30px;
    background-color: hsla(0, 0%, 0%, 0.900);
    color: white;
    font-weight: bold;
  }
  

  .menu li a {
    text-decoration: none;
    color: white;
  }
  

  .menu li a:visited {
    color: ghostwhite;
  }
  

  .menu li {
    padding-right: 15px;
    list-style: none;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 14px;
  }
  

  
