
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 16px;
    color: hsla(0, 0%, 0%, 0.800);
  }
  

  #Home {
    background: url('/static/images/unsplash_background_wine.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: whitesmoke;
    font-size: 30px;
    font-weight: bold;
  }
  

  a {
    text-decoration: none;
    color: hsla(0, 0%, 0%, 0.800);
  }

  a:link { 
    text-decoration: none; 
  }


  a:visited { 
    text-decoration: none; 
  }


  a:hover { 
    text-decoration: none; 
  }


  a:active { 
    text-decoration: none; 
  }


  .base-container {
    padding-top: 6em;
    margin-left: 8em;
    margin-right: 8em;
    display: flex;
    flex-wrap: wrap;
  }


  .grid-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0.25em;
  }


  .grid-item {
    border: 1.75px solid darkgrey;
    font-size: 12px;
    width: 350px;
    min-height: 68px;
    padding: 10px;
    line-height: 18px;
  }


  .content {
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.700);
    margin-left: 20px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
  }


  .item {
    border: 1.75px solid darkgrey;
    font-size: 12px;
    width: 300px;
    min-height: 68px;
    padding: 10px;
    line-height: 18px;
    margin-bottom: 10px;
  }


  .link-name {
    font-weight: bold;
    font-size: 12px;
  }
  
  
  .buttons {
    margin-top: 10px;
    margin-left: 5px;
    padding: 5px;
    font-size: 1.5em;
    color: lightgrey;
  }
  

  input, select {
    font-size: 60%;
    width : 100%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    color: hsla(0, 0%, 0%, 0.800);
  }
  

  .image-button {
    display: contents;
    cursor:pointer;
    font-size: 75%;
  }


  .float-button {
    display: contents;
    cursor:pointer;
    font-size: 75%;
  }


  #stock-icon {
    font-size: 75%;
  }
  

  .delete-form {
    display: inline;
  }
  

  .menu {
    margin: 0%;
    display: flex;
    position: fixed;
    overflow: hidden;
    width: 100%;
    padding: 30px;
    background-color: hsla(0, 0%, 0%, 0.900);
    color: white;
    font-weight: bold;
  }
  

  .menu li a {
    text-decoration: none;
    color: white;
  }
  

  .menu li a:visited {
    color: ghostwhite;
  }
  

  .menu li {
    padding-right: 15px;
    list-style: none;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 14px;
  }
  
  
  /* .radio-button {

  } */


  /* input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: whitesmoke;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid ghostwhite;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: black;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid ghostwhite;
} */


/* Dropdown Button */
.drop-button {
  background-color: hsla(0, 0%, 0%, 0.900);
  color: white;
  padding: 16px;
  font-size: 10px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color:  hsla(0, 0%, 0%, 0.800);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: ghostwhite;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color:  hsla(0, 0%, 0%, 0.800);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color:  hsla(0, 0%, 0%, 0.700);}