
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/a68a14eaee.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>My Wine Shop</title>
</head>
<body>
  <header>
    <nav>
      <div class="menu">
        <div class="menu-content">
          <a href="/">HOME</a>
          <a href="/wines">WINES</a>
          <a href="/wines/new">NEW WINE</a>
          <a href="/producers">PRODUCERS</a>
          <a href="/producers/new">NEW PRODUCER</a>
          <div class="dropdown">
            <button class="drop-button"><strong>PRODUCER</strong>
              <i id="icon" class="fa fa-caret-down" aria-hidden="true"></i>
            </button>
              <div class="dropdown-content">
                <i class="fa fa-caret-down"></i>
              {% for producer in all_producers %}
              <a href="/wines/filter/{{ producer.producer_name }}">{{ producer.producer_name }}</a>
              {% endfor %}
              </div>
          </div>
          <div class="dropdown">
            <button class="drop-button"><strong>COUNTRY</strong>
              <i id="icon" class="fa fa-caret-down" aria-hidden="true"></i>
            </button>
              <div class="dropdown-content">
                <i class="fa fa-caret-down"></i>
              {% for producer in all_producers %}
              <a href="/wines/filter/{{ producer.producer_name }}">{{ producer.country }}</a>
              {% endfor %}
              </div>
          </div>
          <div class="dropdown">
            <button class="drop-button"><strong>REGION</strong>
              <i id="icon" class="fa fa-caret-down" aria-hidden="true"></i>
            </button>
              <div class="dropdown-content">
                <i class="fa fa-caret-down"></i>
              {% for producer in all_producers %}
              <a href="/wines/filter/{{ producer.producer_name }}">{{ producer.region }}</a>
              {% endfor %}
              </div>
          </div>
          <div class="dropdown">
            <button class="drop-button"><strong>ACTIVE</strong>
              <i id="icon" class="fa fa-caret-down" aria-hidden="true"></i>
            </button>
              <div class="dropdown-content">
                <i class="fa fa-caret-down"></i>
              {% for producer in all_producers %}
              {% if producer.active == true %}
              <a href="/wines/filter/{{ producer.producer_name }}">{{ producer.producer_name }} [ Active Is {{ producer.active }} ]</a>
              {% endif %}
              {% endfor %}
              </div>
          </div>
          <div class="dropdown">
            <button class="drop-button"><strong>INACTIVE</strong>
              <i id="icon" class="fa fa-caret-down" aria-hidden="true"></i>
            </button>
              <div class="dropdown-content">
                <i class="fa fa-caret-down"></i>
              {% for producer in all_producers %}
              {% if producer.active == false %}
              <a href="/wines/filter/{{ producer.producer_name }}">{{ producer.producer_name }} [ Active Is {{ producer.active }} ]</a>
              {% endif %}
              {% endfor %}
              </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div class="base-container">
    {% block content %}
    
    {% endblock %}
  </div>
</body>
</html>


