
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/a68a14eaee.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>My Wine Shop</title>
</head>
<body>
  <header>
    <nav>
      <ul class="menu">
        <li><a href="/">HOME</a></li>
        <li><a href="/wines">WINES</a></li>
        <li><a href="/wines/new">NEW WINE</a></li>
        <li><a href="/producers">PRODUCERS</a></li>
        <li><a href="/producers/new">NEW PRODUCER</a></li>
      </ul>
    </nav>
  </header>
  <div class="base-container">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>