
{% extends "base.html" %}
{% block content %}

<div class="dropdown">
  <button class="drop-button">FILTER</button>
  <div class="dropdown-content">
    {% for producer in all_producers %}
    <a href="/wines/filter/{{ producer.producer_name }}">{{ producer.producer_name }}</a>
    {% endfor %}
  </div>
</div>

{% for wine in all_wines %}
  <div class="grid-container">
    <div class="grid-item">
      <div class="content">
    </div>
        <p>PRODUCER</p>
        <p>{{ wine.producer.producer_name }}</p>
        <hr>
        <p>WINE NAME</p>
        <div class="link-name">
          <p><a href="/wines/{{ wine.id }}">{{ wine.wine_name }}</a> [ <i id="stock-icon" class="fa fa-solid fa-hand-pointer" style="color:black" aria-hidden="true"></i> ] </p>
        </div>
        <hr>
        <p>COUNTRY</p>
        <p>{{ wine.producer.country }}</p>
        <hr>
        <p>REGION</p>
        <p>{{ wine.producer.region }}</p>
        <hr>
        <p>STOCK BOTTLES</p>
        <p>{{ wine.stock }}</p>
        <hr>
        <p>STOCK ALERT</p>
          {% if wine.stock <= 0 %}
            <p>Out Of Stock [ <i id="stock-icon" class="fa fa-solid fa-exclamation" style="color:black" aria-hidden="true"></i> ]</p>
          {% elif wine.stock <= 5 %}
            <p>Stock Low [ <i id="stock-icon" class="fa fa-solid fa-question" style="color:black" aria-hidden="true"></i> ]</p>
          {% else %}
            <p>Stock Level Normal [ <i id="stock-icon" class="fa fa-solid fa-check" style="color:black" aria-hidden="true"></i> ] </p>
          {% endif %}
        </p>
        <hr>
        <p>NET PRICE</p>
        <p>{{ wine.net_price }}</p>
        <hr>
        <p>SELL PRICE</p>
        <p>{{ wine.sell_price }}</p>
        <hr>
        <p>PERCENTAGE MARGIN</p>
          {{ wine.calculate_margin() }}%
        <hr>
        <p><strong>DELETE ENTRY</strong></p>
          <div class="buttons">
            <form class="delete-form" action="/wines/{{wine.id}}/delete" method="POST">
              <button class="image-button"><i class="fa fa-trash-o fa-3x" style="color:black" aria-hidden="true"></i></button>
            </form>
          </div>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}

