
{% extends 'base.html' %}
{% block content  %}

    <div class="item">
        <div class="content">
            <p>WINE NAME</p>
            <p><strong>{{ wine.wine_name }}</strong></p>
            <hr>
            <p>PRODUCER</p>
            <p>{{ wine.producer.producer_name }}</p>
            <hr>
            <p>COUNTRY</p>
            <p>{{ wine.producer.country }}</p>
            <hr>
            <p>REGION</p>
            <p>{{ wine.producer.region }}</p>
            <hr>
            <p>STOCK BOTTLES</p>
            <p>{{ wine.stock }}</p>
            <hr>
            <p>NET PRICE</p>
            <p>{{ wine.net_price }}</p>
            <hr>
            <p>SELL PRICE</p>
            <p>{{ wine.sell_price }}</p>
            <hr>
            <div>
                <p><strong>UPDATE ENTRY</strong></p>
                <a href="/wines/{{ wine.id }}/edit">
                    <button class="image-button"><i class="fas fa-edit fa-3x" style="color:black" aria-hidden="true"></i></button>
                </a>
            </div>
        </div>
    </div>

{% endblock  %}

